@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/Open Sans/OpenSans-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/Open Sans/OpenSans-Bold.ttf')  format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('fonts/Open Sans/OpenSans-SemiBold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('fonts/Open Sans/OpenSans-Italic.ttf')  format('truetype');
  font-weight:lighter;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/Open Sans/OpenSans-Light.ttf')  format('truetype');
  font-weight:lighter;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto/Roboto-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('fonts/Roboto/Roboto-Italic.ttf')  format('truetype');
  font-weight:normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto/Roboto-Light.ttf')  format('truetype');
  font-weight:lighter;
  font-style: normal;
}

/* BASE color */

.cl_primary{ background-color: #f8faff;  }
.cl_secondary{ background-color: #22305f;}
.cl_tertiary{ background-color: #400101; }
.cl_accents{ background-color: #D91E1E; }

/* BASE color */

/* FONTS */
.font_primary{ font-family:'OpenSans-Bold'}
.font_pairs{  font-family:'Roboto-Regular'}
/* FONTS */

body{
	padding:0;
	margin:0;
}
nav.shift-left{
	left:0px;
}
nav{
	background-color: #292929;
	width: 25%;
	height: 100%;
	position: fixed;
	z-index: 999;
	left: -200px;
	padding-top: 10%; 
}
nav span:hover{
	cursor: pointer;
}

nav span{
	position: absolute;
	right: -20px;
	font-size: 20px;
	font-weight: bolder;
	top:15px;
}

nav h2{
	margin: 20px;
	font-size: 16px;
	text-align: left;
	font-weight: 100;
	padding-bottom: 10px;
	color: #b6c7ff;
}
nav ul{
	padding:0;
}
nav ul li{
	list-style: none;
}
nav li a:hover{
	font-weight: bolder;
}
nav li a.main:hover{
	
}
nav li a.main{
	
}
nav li a{
	text-decoration: none;
	font-size: 14px;
	display: block;
	padding: 20px;
	color: #fff;
	letter-spacing: 0.1em;
}

.main-container.shift-left{
	margin-left: 20%;
}
.main-container{
	position: relative;
	padding-top:60px;
	margin-left: 30%;
}


.sub-container{
	position: relative;

}

.sub-menu{
	padding:0;
	top:0;
	position: absolute;
}

.submenuactive{
	border-bottom: 5px solid #009aff;
}

.sub-menu li a:hover{
	border-bottom: 5px solid #009aff;
}
.sub-menu li{
	border-bottom: 1px solid #009aff;
	display: inline-block;
	font-size: 20px;
	
	margin: 0 10px 0 0;
}
.sub-menu li a{
	text-decoration: none;
	
}

input{
	border: 1;
	padding-left: 0.5em;
}

.input-group{
	padding: 20px;
}

.input-group .title hr{
	
	background-color: #000;
}
.input-group .title{
	min-width: 500px;
	
	font-weight: bolder;
}
.input-group input{
	height: 1.5em;
}
.input-group label{
	
	min-width: 260px;
	display: inline-block;
}

.btn:hover{
	cursor: pointer;
}
.btn{
	min-width: 5em;
	height: 2em;
	border: 0;
	border-radius: 2px;
}

.btn-green{
	background: #46d035;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-red{
	background: #ff6363;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-blue{
	background: #63c4ff;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-yellow{
	background: #fffa9e;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.input{
	position: relative;
	margin: 10px;
}

.inputW200{
	width: 200px;
}

.inputW100{
	width: 100px;
}

.inputW50{
	width: 50px;
}

.inputW60{
	width: 60px;
}

.map-container{
	position: relative;
}

.camel-case{
	text-transform: capitalize;
}

.table-group{
	padding: 10px;
}

.table-group P{
	margin: 10px 0 0 20px;
	padding: 0;
}

.cluster-group{
	margin: 20px;
	display: inline-block;
	vertical-align: top;
}

.hidden{
	display: none;
}

p.alert{
	display: block;
	color: #FFF;
	background-color: #ff6363;
	padding: 10px;
}

.inline-block .input-group{
	padding: 0 !important;
}
.inline-block{
	display: inline-block;
	vertical-align: top;
}