.main-container,.sub-menu, .menu-info, .sub-menu-ul
{
	border: 0px solid #FFF;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/Open Sans/OpenSans-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/Open Sans/OpenSans-Bold.ttf')  format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('fonts/Open Sans/OpenSans-SemiBold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('fonts/Open Sans/OpenSans-Italic.ttf')  format('truetype');
  font-weight:lighter;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/Open Sans/OpenSans-Light.ttf')  format('truetype');
  font-weight:lighter;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto/Roboto-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('fonts/Roboto/Roboto-Italic.ttf')  format('truetype');
  font-weight:normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto/Roboto-Light.ttf')  format('truetype');
  font-weight:lighter;
  font-style: normal;
}


#plot {
	padding-left:10px;
  color: #fff !important;
}
.main-svg {
   background-color: transparent !important;
}

path.ygrid.crisp,path.xgrid.crisp{
	stroke: rgba(255,255,255,0.25) !important;
}

.g-ytitle text, .g-xtitle text, .ytick text, .xtick text{
   color: #fff !important;
   fill: rgb(255,255,255) !important;
}

/* BASE color */

.cl_primary{ background-color: #16213e;  }
.cl_secondary{ background-color: #22305f;}
.cl_tertiary{ background-color: #11172d; }
.cl_accents{ background-color: #c10042; }

.font_accents{color:#dcdcdc;}
.font_accents_secondary{color:#ff689c;}
.font_white{color:#fff;}
/* BASE color */

/* FONTS */
.font_primary{ font-family:'OpenSans-Bold'}
.font_pairs{  font-family:'Roboto-Regular'}

.ft_size_xs{ font-size: 12px;  }
.ft_size_detail{ font-size: 14px;  }
.ft_size_content{ font-size: 16px;  }
.ft_size_subtitle{ font-size: 18px;  }
.ft_size_head{ font-size: 20px;  }
.ft_size_title{ font-size: 24px;  }
/* FONTS */

.btn{
	min-width: 5em;
	height: 2em;
	border: 0;
	border-radius: 2px;
}

.btn-green{
	background: #46d035;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-red{
	background: #ff6363;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-blue{
	background: #63c4ff;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-yellow{
	background: #fffa9e;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

input[type="checkbox" i],td{
	box-sizing: initial !important; 	
}

.lighter{
	font-weight: lighter;
}
.bolder{
	font-weight: bolder;
}

body{
	padding:0;
	margin:0;
}

.icon-menu{
	margin-right: 10px;
}
nav.shift-left{
	left:0px;
}
nav{
	background-color: #292929;
	padding-left: 3%;
	width: 27%;
	height: 100%;
	position: fixed;
	z-index: 999;
	padding-top: 10%; 
}
nav span:hover{
	cursor: pointer;
}

nav span{
	position: absolute;
	
	font-size: 20px;
	font-weight: bolder;
	top:15px;
}

nav h2{
	margin: 20px;
	font-size: 16px;
	text-align: left;
	font-weight: 100;
	padding-bottom: 10px;
	color: #b6c7ff;
}
nav ul{
	padding:0;
}
nav ul li{
	list-style: none;
}
nav li a:hover{
	font-weight: bolder;
}
nav li a.main:hover{
	
}
nav li a.main{
	
}
nav li a{
	text-decoration: none;
	font-size: 14px;
	display: block;
	padding: 20px;
	color: #fff;
	letter-spacing: 0.1em;
}



.main-container.shift-left{
	margin-left: 20%;
}
.main-container{
	position: relative;
	padding-top:60px;
	margin-left: 33%;
	margin-right: 5%;
	
}


.sub-container{
	position: relative;
	padding: 10px;
	width: fit-content;
	min-width: 100%;
}

.sub-menu{
	margin:0;
	padding: 0;
	display: inline-block;
	float: right;
	width: 38%;

}

.overview{
	line-height: 1.8em;
}

.menu-info{
	display: inline-block;
	color: #bec5dca6;
	padding: 10px;
	max-width: 320px;
}

.submenuactive{
	color: #6a84de !important;
}

.sub-menu-ul{
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}
.sub-menu li a:hover{
	color: #6a84de;
}
.sub-menu li{
	padding: 10px;
	display: inline-block;
	font-size: 20px;

}
.sub-menu li a{
	text-decoration: none;
	font-size: 16px;
	color: #c2c9e0;
}

input{
	border: 1;
	padding-left: 0.5em;
}

.input-group{
	padding: 20px;
}

.input-group .title hr{
	
	background-color: #000;
}
.input-group .title{
	min-width: 500px;
	
	font-weight: bolder;
}
.input-group input{
	height: 1.5em;
}
.input-group label{
	
	min-width: 260px;
	display: inline-block;
}

.btn:hover{
	cursor: pointer;
}


.input{
	position: relative;
	margin: 10px;
}

.inputW200{
	width: 200px;
}

.inputW100{
	width: 100px;
}

.inputW50{
	width: 50px;
}

.inputW60{
	width: 60px;
}

.map-container{
	position: relative;
}

.camel-case{
	text-transform: capitalize;
}

.table-group{
	padding: 10px;
}

.table-group P{
	margin: 10px 0 0 20px;
	padding: 0;
}

.cluster-group{
	margin: 20px;
	display: inline-block;
	vertical-align: top;
}

.hidden{
	display: none;
}

p.alert{
	display: block;
	color: #FFF;
	background-color: #ff6363;
	padding: 10px;
}

.inline-block .input-group{
	padding: 0 !important;
}
.inline-block{
	display: inline-block;
	vertical-align: top;
}

#mobile-menu{
	display: none;
	padding: 5px;
	position: absolute;
	top:0;
}
@media screen and (max-width: 720px){
	nav{
		width: 100%;
		position: relative;
		padding:10px; 
	}
	.main-container{
		margin:10px;
		padding-top: 20px;
	}
	.sub-menu{
		float: initial;
		width: 100%;
	}
	.sub-menu li{
		display: inline;
		padding-left: 0;
	}
	#mobile-menu{
		display: block;
	}
	.menu-info{
		padding-left: 0;
	}
}